{% extends 'base.html' %}
{% load tags %}
{% block content %}
<div class="row">
    {% if form %}
    <div class="col text-center" style="padding: 30px;">
        <form method="POST" action="{% url 'homepage' %}">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 offset-md-3 text-center">
                    <label for="search">{{ form.title.label }}</label>
                    {{ form.title | add_css:"form-control" }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 offset-md-3 text-center">
                    <label for="search">{{ form.description.label }}</label>
                    {{ form.description | add_css:"form-control" }}
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="col"></div>
    <div class="col text-center">
        {% for task in tasks %}
            <h4>ID: {{ task.pk }}</h4>
            <h4>Title: {{ task.title }}</h4>
            <h4>Desc: {{ task.description }}</h4>
        {% endfor %}
    </div>
    <div class="col"></div>
</div>
{% endblock %}
